<div class="body">
  <div class="homepage-header">
      <h1 class="text-uppercase">90s Videogames</h1>
      <p>Rent the games from your childhood</p>
        <%= link_to "Browse all games", games_path %>
    </div>
  </div>

  <div class="homepage-grid">
    <div class="homepage-card">
      <h6>Find your game</h6>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <%= link_to "Browse all games", games_path %>
    </div>
    <div class="homepage-card">
      <h6>Sell your game</h6>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
       <%= link_to "Sell games", games_path %>
    </div>
  </div>
</div>
exit
