<div class="background-home">
  <div class="homepage-header">
      <h1 class="text-uppercase">90s Videogames</h1>
      <p>Rent the games from your childhood</p>
        <%= link_to "Browse all games", games_path %>
  </div>

  <div class="homepage-grid">
    <div class="homepage-card">
      <h6>Find your game</h6>
      <p>Visit us today and embark on a journey through time, where every button press carries a hint of nostalgia and every victory feels like a triumph over the past. </p>
      <%= link_to "Browse all games", games_path %>
    </div>
    <div class="homepage-card">
      <h6>Sell your game</h6>
      <p> Unlock the power of your collection and let it find its way into the hands of those who will cherish it as much as you have. </p>
        <%= link_to "Sell games",  new_game_path %>
      </div>
    </div>
  </div>
</div>

