<div class="header" class="header-grid" >
  <h1>hello</h1>
   <p>Welcome to .games! Step back in time with our nostalgic 90's video game rentals. Immerse yourself in the pixelated wonderland of classic gaming, right from the comfort of your own home. </p>
   <p class="button-corners">hello</p>
</div>

<div>
  <div class="index-grid">
    <% @games.each do |game| %>
      <%= render "games_card", game: game %>
    <% end %>
  </div>
<div>

<div style="width: 100%; height: 600px;"
 data-controller="map"
 data-map-markers-value="<%= @markers.to_json %>"
 data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
