<div class="row">
    <% @games.each do |game| %>
      <div class="co-12 col-sm-6 col-md-4 mb-3">
        <%= link_to game_path(game), class:"text-decoration-none" do %>
            <%= game.name %>
          </div>
        <% end %>
        <% end %>
