.button-corners {
  background: linear-gradient(90deg,#fff 1px,transparent 0) 0 0,linear-gradient(180deg,#fff 1px,transparent 0) 0 0,linear-gradient(270deg,#fff 1px,transparent 0) 100% 0,linear-gradient(180deg,#fff 1px,transparent 0) 100% 0,linear-gradient(270deg,#fff 1px,transparent 0) 100% 100%,linear-gradient(0deg,#fff 1px,transparent 0) 100% 100%,linear-gradient(90deg,#fff 1px,transparent 0) 0 100%,linear-gradient(0deg,#fff 1px,transparent 0) 0 100%;
  background-repeat: no-repeat;
  background-size: 0 0;
  bottom: 0;
  left: 0;
  // position: absolute;
  right: 0;
  top: 0;
  transition: background-size .2s cubic-bezier(.455,.03,.515,.955);
  width: auto;
  height: auto;
}
