.homepage-card {
  box-shadow: 8px 8px 1px #00ed71;
  padding: 16px;
  text-align: center;
  background-color: white;
  justify-content: space-between;
  width: auto;
  min-height: 200px;
  margin: 25px 50px 25px 50px;
  justify-content: center;
  display: inline-block;

    h6 {
      color: black;
      font-family: 'Poppins', sans-serif;
      font-weight: 700;
      font-size: 28px;
      display: block;
      margin: 4px 2px;
      text-transform: uppercase;
    }

    p {
      color:black;
      font-family: 'Anonymous Pro', monospace;
      display: block;
      padding: 7px
    }

    a {
      background-color: white;
      font-family: 'Poppins', sans-serif;
      font-weight: 700;
      border: none;
      color:#f700c6;
      padding: 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 14px;
      margin: 4px 2px;
      text-transform: uppercase;

      &:hover {
        color: rgb(0, 0, 0);
        text-decoration: underline;
        transition: .3s;
        color:#f700c6
      }
   }
 }

.index-card {
  background-color: white;
  box-shadow: 8px 8px 1px #00ed71;
  padding: 16px;
  text-align: center;
  display: inline-block;
  // justify-content: space-between;
  bottom: 0;
  left: 0;
  height: 400px;
  width: auto;
  margin: 0px 30px 30px 15px;
  overflow: hidden;
}

.index-card-info {
    h6 {
      color: black;
      font-family: 'Poppins', sans-serif;
      font-weight: 700;
      font-size: 14px;
      display: block;
      margin-top: 10px;
      text-transform: uppercase;
    }

    p {
      color:black;
      font-family: 'Anonymous Pro', monospace;
      display: block;
      font-size: 12px;
      margin: 0px;
      text-overflow: ellipsis; /* enables ellipsis */
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      // white-space: nowrap; /* keeps the text in a single line */

    }

    a {
      background-color: black;
      font-family: 'Poppins', sans-serif;
      font-weight: 700;
      border: none;
      color: white;
      padding: 8px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 12px;
      margin: 4px 2px;
      text-transform: uppercase;


      &:hover {
        background-color: white;
        box-shadow: 6px 6px 1px black;
        color: black;
        transition: .3s;
    }
  }
}

.index-card:hover {
  transform: scale(1.02) perspective(0px);
  box-shadow: 10px 10px 2px #f700c6;
  color:#f700c6
}

.index-card img {
  display: block;
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.show-card {
  background-color: white;
  box-shadow: 8px 8px 1px #00ed71;
  padding: 16px;
  text-align: center;
  display: inline-block;
  align-items: center;
  bottom: 0;
  left: 0;
  width: 800px;
  // margin: 0px 30px 30px 15px;

}

.show-card-info {
    h6 {
      color: black;
      font-family: 'Poppins', sans-serif;
      font-weight: 700;
      font-size: 20px;
      display: block;
      margin-top: 10px;
      text-transform: uppercase;
    }

    p {
      color:black;
      font-family: 'Anonymous Pro', monospace;
      display: block;
      font-size: 16px;
      margin: 0px;
    }

    a {
      background-color: black;
      font-family: 'Poppins', sans-serif;
      font-weight: 700;
      border: none;
      color: white;
      padding: 8px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      text-transform: uppercase;


      &:hover {
        background-color: white;
        box-shadow: 6px 6px 1px black;
        color: black;
        transition: .3s;
    }
  }
}

.show-card img {
  display: block;
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.dashboard-card {
  box-shadow: 8px 8px 1px #00ed71;
  padding: 16px;
  text-align: center;
  background-color: white;
  justify-content: space-between;
  width: auto;
  min-height: 200px;
  margin: 25px 50px 25px 50px;
  justify-content: center;
  display: inline-block;

  li::marker {
   color:white;
  }

    h6 {
      color: black;
      font-family: 'Poppins', sans-serif;
      font-weight: 700;
      font-size: 28px;
      display: block;
      margin: 4px 2px;
      text-transform: uppercase;
    }

    p {
      color:black;
      font-family: 'Anonymous Pro', monospace;
      display: block;
      padding: 7px
    }

    a {
      background-color: black;
      font-family: 'Poppins', sans-serif;
      font-weight: 700;
      border: none;
      color: white;
      padding: 8px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 12px;
      margin: 4px 2px;
      text-transform: uppercase;


      &:hover {
        background-color: white;
        box-shadow: 6px 6px 1px black;
        color: black;
        transition: .3s;
    }
    }
 }

 .dashboard-card:hover {
  transform: scale(1.02) perspective(0px);
  box-shadow: 10px 10px 2px #f700c6;
  color:#f700c6
}
