.homepage-grid {
  display: grid;
  justify-content: center;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr;
  background-color: black;
}

@media(max-width: 900px) {
    .container {
      width: 500px;
    }
  }

.index-grid {
  padding: 150px 50px 0px 50px;
  display: grid;
  justify-content: center;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: black;
}

.header-grid {
  display: grid;
  justify-content: center;
  grid-template-rows: 1fr;
}
