.homepage-grid {
  display: grid;
  justify-content: center;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px 1fr 50px;
  background-color: black;
}

@media(max-width: 900px) {
    .container {
      width: 500px;
    }
  }

.index-grid {
    display: grid;
    justify-content: center;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    // grid-template-rows: 50px 1fr 50px;
    background-color: black;
  }
