.homepage-header {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(asset_path('/app/assets/images/442499.jpg'));
  height: 400px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 100px;

  h1 {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 60px;
    background-color:rgba(0,0,0,0.8);
    padding: 9px;
    display: block;
    margin: 4px 2px;
  }

  p {
    color: white;
    font-size: 25px;
    font-family: 'Anonymous Pro', monospace;
    background-color:rgba(0,0,0,0.8);
    display: block;
    margin: 4px 2px;
    padding: 8px;
  }

  a {
    background-color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    border: none;
    color: black;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 4px 2px;
    box-shadow: 8px 8px 1px #00ed71;
  }
}
