.navbar {
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 25px;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 40px;
  border-radius: 50%;
  margin-top: 5px;
}

.logo {
  width: 40px;
}

.navbar p {
  color: #f700c6;
}

.navbar a {
  color:#f700c6;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding-top: 15px;

  &:hover {
  color: #00ed71;
  }
}
