

.wrapper {
  display: flex;
  justify-content: space-between;
}

.content {
  align-items: center;
  margin-left: 110px;
  display: flex;
  width: 80%;
  padding: 0px 40px 0px 40px;
}

.sidebar {
  padding-right: 100px;
  width: 20%;

  p {
    color:black;
    font-family: 'Anonymous Pro', monospace;
    display: inline-block;
    font-size: 14px;
    margin: 0px;
  }

  a {
    background-color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    border: none;
    color: white;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    text-transform: uppercase;


    &:hover {
      // background-color: white;
      // box-shadow: 6px 6px 1px black;
      color: white;
      font-weight: 300;
      transition: .3s;
  }
}
}
